/*
Страничка /blocks/
*/
#pg1_blocks_table td {
	border: 1px solid gray;
	padding: 2px 3px;
}

#pg1_actions{padding-bottom:10px;}

#pg1_form{padding-top:10px;}

#pg1_form input {
	border:1px solid #FFA07A;
	border-radius:5px;
}

#pg1_form .zapis {
	width:200px;
}

.pg1_records_menu { /*DropDown меню*/
	position:absolute;
	display:none;
	width:350px;
	border:1px solid #666;
	padding:8px;
	background:#AFEEEE;
}

.pg1_changecolor_td{
	position:relative;
}

.pg1_changecolor_hex{
	width:30px;height:15px;
}

.pg1_palitra{
	display:none;
	position:absolute;
	width:40px;
	border:5px solid #000;
	background:#999;
	z-index:999;
}

.pg1_palitra_a_color{
	width:30px;height:15px;
}

.pg1_message{
	font-family:Tahoma;
	color:#1E90FF;font-weight:bold;
	padding:10px 0 10px 0;
}

/*
Страничка /records/edit/
*/
#record_edit_buttons{
	width:100%;padding:10px 0;
}

#del_button{
	float:left;
}

#save_button{
	float:right;
}