/*
Маршрут /blocks/
*/
#blocks_table td {
	border: 1px solid gray;
	padding: 2px 3px;
}

#pg_blocks_form input {
	border:1px solid #FFA07A;
	border-radius:5px;
}

#pg_blocks_form .zapis {
	width:200px;
}

.dd_menu1 { /*DropDown меню*/
	position:absolute;
	display:none;
	width:350px;
	border:1px solid #666;
	padding:8px;
	background:#AFEEEE;
}

.pg_blocks_hex{
	width:30px;height:15px;
}

.pg_blocks_changecolor_td{
	position:relative;
}

.pg_blocks_palitra{
	display:none;
	position:absolute;
	width:40px;
	border:5px solid #000;
	background:#999;
	z-index:999;
}

.pg_blocks_palitra_color{
	width:30px;height:15px;
}
/*
Маршрут /records/edit/
*/
#record_edit_buttons{
	width:100%;padding:10px 0;
}

#del_button{
	float:left;
}

#save_button{
	float:right;
}