/* Раздел /blocks/ */
#blocks_table td {
	border: 1px solid gray;
	padding: 2px 3px;
}

#blocks_form input {
	border:1px solid #FFA07A;
	border-radius:5px;
}

#blocks_form .zapis {
	width:200px;
}

.dd_menu1 { /*DropDown меню*/
	position:absolute;
	display:none;
	width:350px;
	border:1px solid #666;
	padding:8px;
	background:#AFEEEE;
}