	img.post-image{
    width:64px;
    height:64px;
}

#inputText{
	height:400px;
}

#submitAnswer{
	margin-top:25px;
}

h2{padding-top:10px;}

a.underlined{text-decoration:underline;}

.control1{}

.control2{
	padding:0 0 10px 40px;
}

h1.control{
	font-size:14pt;
}

.red1, .red2, .red3, .red4, .red5, .rda1, .rda2, .rda3 {
	margin-right:15px;
	padding:3px 5px;
	font-size:9pt;
	background:#666;
}

.red1{
	background:#66CDAA;
}

.red2{
	background:#98FB98;
}


.red3{
	background:#8FBC8F;
}

.rda1{
	background:#F08080;
}

