	img.post-image{
    width:64px;
    height:64px;
}

#inputText{
	height:400px;
}

#submitAnswer{
	margin-top:25px;
}

h2{padding-top:10px;}

a{
	text-decoration:underline;
}
a:hover{
	text-decoration:none;
}

a.underlined{
	text-decoration:underline;
}

.control1{}

.control2{
	padding:0 0 10px 40px;
}

h1.control{
	font-size:14pt;
}

.red1, .red2, .red3, .red4, .red5, .rda1, .rda2, .rda3 {
	margin-right:15px;
	padding:3px 5px;
	font-size:9pt;
	background:#666;
}

.red1{
	background:#66CDAA;
}

.red2{
	background:#98FB98;
}


.red3{
	background:#8FBC8F;
}

.red4{
	background:#20B2AA;
}

.rda1{
	background:#F08080;
}

.mred{
	position:absolute;
	margin:0 0 0 5px;
	padding:0px 3px;
	font-size:9pt;
	background:#FF7F50;
}

.mys1, .mys2 {
	font-family:Tahoma;
	padding: 3px 10px;
	background: #FF69B4;
}

.mys1 {
	padding: 3px 10px;	
	font-size:14pt;
}

.mys2 {
	padding:1px 5px;
	font-size:11pt;
}