/*Блок очистки float-ов*/
.clear{
	clear:both;
}

.mce-notification-inner {display:none!important;}

.block_design{
	float:left;
	width:320px;
	height:170px;
	margin-left:40px;
	margin-top:20px;
	margin-bottom:20px;
	overflow:hidden;
	text-overflow: clip;
	padding: 20px;
	background: #aaa;
}

.inner_block{
	width:227px;
	height:93px;
}

h1.logo1{
	font-size:36px;
}

div.logo1{
	padding: 0 0 20px 0;
	font-size:12pt;
}

div.nav1{
	margin:10px 0 10px 40px;
}

a.nav1{
	padding:0 10px 0 10px;
	text-decoration:underline;
}

