/*Панель авторизации (верхняя панель)*/
#uppanel {
	width:100%;
	margin:15px 0 0 0;
}

#uppanel_leftside{
	float:left;
}

#uppanel_rightside{
	float:right;
}

/*Логотип сайта*/
#sitelogo_header {
	font-size:36px;
}
#sitelogo_descr {
	padding: 0 0 20px 0;
	font-size:12pt;
}

/*Навигация первого уровня. Используется на админских страницах. Например, на главной - "Главная  Записи  Категории  Блоки"*/
.nav1{
	padding:0 0 10px 40px;
}

/*Навигация второго уровня. Например, на главной - "Категории: ВСЕ Категория1 Категория2 ..."*/
#nav2{
	margin:20px 0 10px 40px;
}

a.nav2{
	padding:0 20px 0 0px;
	text-decoration:underline;
}

/*Подвал*/
#footer{
	width:100%;
	margin:40px 0 25px 0;
	text-align:center;
}

.footer-header{font-size:11pt;}
.footer-rights{font-size:9pt;}



