/*BEGIN: Основные структурные блоки сайта*/
body{height:100%;width:100%;} 
#site_container{height:100%;} /*Основной блок сайта*/
#body_container{margin:0 0 0 40px;padding-top:30px;}
#content_container{min-height: 440px;}
/*END: Конец основных структурных блоков сайта*/

/*BEGIN: Панель авторизации (верхняя панель)*/
#up-panel {display:table;width:100%;margin:15px 0 0 40px;}
#up-panel_leftside, #up-panel_center, #up-panel_rightside{display:table-cell;} 
#up-panel_leftside a{margin-right:25px;}
#up-panel_rightside{text-align:right;}
#up-panel_rightside a, #up-panel_rightside span{margin-left:25px;}
#up-panel_row{display: table-row;}
#up-panel_host{font-style:italic;}
/*END: Конец описания верхней панели*/

/*BEGIN: Логотип сайта*/
#sitelogo_container{width:420px;margin:30px auto 0 auto;border:1px solid black;}
#sitelogo_img{display:block;float:left;width:100px;height:100px;border-right:1px solid black;}
#sitelogo_textpart{width:300px;float:left;}
#sitelogo_header {font-size:36px;}
#sitelogo_descr {padding: 0 0 20px 0;font-size:12pt;}
/*END: Конец описания логотипа*/

/*BEGIN: Навигация первого уровня.
  Используется на админских страницах.
  Например, на главной - "Главная  Записи  Категории  Блоки"*/
.nav1{padding:0 0 10px 0px;}
/*END: Навигация второго уровня*/

/*BEGIN: Навигация второго уровня.
  Например, на главной - "Категории: ВСЕ Категория1 Категория2 ..."*/
#nav2{margin:20px 0 10px 0px;}
a.nav2{padding:0 20px 0 0px;text-decoration:underline;}
/*END: Навигация второго уровня*/

/*BEGIN: Подвал*/
#footer{margin:40px auto 0 auto;padding:10px;border:1px solid black;}
#footer_left{width:200px;float:left;text-align:left;}
#footer_right{width:400px;padding:10px 0 0 0;float:right;text-align:right;}
.footer-header{font-size:12pt;}
.footer-author{font-size:11pt;}
.footer-sign{font-size:11pt;padding-top:12px;}
.footer-rights{font-size:9pt;}
/*END: Подвал*/




